body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdf6f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    color: #b76e79;
  }
  
  .date {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #458048
  }
  
  .section {
    margin-top: 30px;
  }
  
  .section h2 {
    color: #b76e79;
    margin-bottom: 10px;
  }
  
  a {
    color: #b76e79;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  